.main {
  max-width: 1280px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.main > p {
  margin-bottom: 20px;
  line-height: 32px;
}

.parrafo{
  margin-bottom: 50px;
}

.parrafo > h2,
.parrafo > h3 {
  margin-bottom: 20px;
}

.parrafo >p {
  margin-bottom: 20px;
  /* font-size: 14px; */
  line-height: 32px;
}

.parrafo > h4 {
  margin-bottom: 10px;
}

.body {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.icon{
  width:100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/iconCorrect.png) ;
  margin-bottom: 50px;
}